/Library
/assetbundles
/Dest
/Export
/Assets\Plugins\Android\assets
*.pidb
*.csproj
*.unityproj
*.sln
*.userprefs
sysinfo.txt
*.DotSettings
*.apk
*.ipa
/*.zip
/*.rar
/.merge_file*
/* - *
/Temp
/obj
*.cd
*.suo
*.user
/log
/ScreenShot
Thumbs.db
Thumbs.db.meta
*.dll.config
/Assets/Temp
/Assets/Temp.meta
/AssetBundles
/AssetBundle
*.pdb
*.pdb.meta
*.mdb
*.mdb.meta
*.log
editor_cameras.asset
editor_cameras.asset.meta
.metadata
*.metadata
UnityEngine.*
UnityEditor.*
/Assets/Scripts/Temp
/Assets/Scripts/Temp.meta
/Assets/Arts/Temp
/Assets/Arts/Temp.meta
/Assets/Conf/Pack.config
/SceneExportTemp

*makeui*.unity*
*.admin
legacy.animation

*.pyc
*.swp
*.un~
/ScriptProject/Bundle
/ScriptProject/obj
/ScriptProject/Properties
/ScriptProject/Service References
/ScriptProject/Script.v12.suo
